name: Elixir CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elixir: [1.11, 1.10.4, 1.9, 1.8]
        otp: [23.2, 22.3, 21.3]

    steps:
      - uses: actions/checkout@v3
      - name: Setup elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}
      - name: Install Dependencies
        run: mix deps.get
      - name: Run Tests
        run: mix test
